@using Domain.Entities
@using Markblog.Application.Services
@layout EmptyLayout


@for (int i = 0; i < Articles?.Count; i++)
{
    <div class="flex flex-col items-center">
        <a href="/article/@Articles[i].Id"
           class="flex flex-col items-center bg-white rounded-lg shadow md:flex-row w-full hover:bg-gray-100  dark:bg-neutral-950 dark:hover:bg-neutral-800">
            @if (!string.IsNullOrEmpty(Articles[i].Image))
            {
                <img class="object-cover w-full rounded-t-lg h-96 md:h-auto md:w-64 md:rounded-none md:rounded-s-lg"
                     src="@Articles[i].Image" alt="Title Image">
            }

            <div class="flex flex-col justify-between p-4 leading-normal w-full">
                <div class="flex flex-col md:flex-row justify-between">
                    <h2 class="font-bold text-2xl"> @Articles[i].Title </h2>
                    <span style="line-height: 32px">@Articles[i].CreatedDate.ToShortDateString()</span>
                </div>
                <p> @Articles[i].Description </p>
                <div class="flex flex-row justify-between w-full">
                    <div class="flex flex-row gap-1">
                        <svg class="w-6 h-8  fill-none  stroke-neutral-900 dark:stroke-neutral-50"
                             xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" stroke-width="2"
                             stroke-linecap="round"
                             stroke-linejoin="round">
                            <path
                                d="M20.59 13.41l-7.17 7.17a2 2 0 0 1-2.83 0L2 12V2h10l8.59 8.59a2 2 0 0 1 0 2.82z"></path>
                            <line x1="7" y1="7" x2="7.01" y2="7"></line>
                        </svg>
                        <span style="line-height: 32px">@Articles[i].Tags?.Replace("\n", ", ")</span>
                    </div>
                    <div class="flex flex-row gap-1">
                        <svg class="w-6 h-8  fill-none  stroke-neutral-900 dark:stroke-neutral-50"
                             xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" stroke-width="2"
                             stroke-linecap="round"
                             stroke-linejoin="round">
                            <circle cx="12" cy="12" r="10"></circle>
                            <polyline points="12 6 12 12 16 14"></polyline>
                        </svg>
                        <span style="line-height: 32px"
                              class="text-nowrap">@ReadDurationService.GetReadDurationText(Articles[i].ReadDurationSeconds)</span>
                    </div>
                </div>
            </div>
        </a>
    </div>
}


@code{
    [Parameter] public List<ArticleEntity> Articles { get; set; } = [];
    [Parameter] public int PageSize { get; set; }
    [Parameter] public int Page { get; set; }
    
    private Dictionary<string, object> GetAttribute(int index)
    {
        var attrs = new Dictionary<string, object>();
        if (Articles.Count < PageSize || index - 2 != Articles?.Count && index - 2 > 0)
        {
            return attrs;
        }

        attrs.Add("hx-get", $"/article-overview/?page={Page + 1}");
        attrs.Add("hx-trigger", "revealed");
        attrs.Add("hx-swap", "afterend");

        return attrs;
    }

}